# {{ ansible_managed }}
{% for host in ssh_push_upstream | sort %}

# Host {{ host }}
command="~/bin/ftpsync -T 'ssh ({{ host }})'",from="{{ hostvars[host].ssh_push_ips | join(',') }}",no-agent-forwarding,no-port-forwarding,no-pty,no-user-rc,no-X11-forwarding {{ host | ssh_push_key(hostvars, ssh_push_key_result.results) }}
{% endfor %}
